.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box{
  border: 2px solid black;
  width: 350px;
  margin: auto;
  margin-top: 20px;
  position: relative;
  text-align: left;
  padding: 0px 20px;
}


.loading{
  border:5px solid transparent;
  border-top-color: black;
  border-radius: 50%;
  height:30px;
  width: 30px;
  animation: rotate 1s infinite;
  position: absolute;
  left: 50%;
  top: 30%;
}
.hidden{
  visibility: hidden;
}

@keyframes rotate{
  0%{

  }
  100%{
    transform: rotate(360deg);
  }
}